# Ignore Everything
*

# But not these files
!.gitignore
!/TimPeeters_Eind/[Aa]ssets/**/*.cs
!/TimPeeters_Eind/[Aa]ssets/**/*.xml
!/TimPeeters_Eind/[Aa]ssets/**/*.fnt
!/TimPeeters_Eind/[Aa]ssets/**/*.cd
!/TimPeeters_Eind/[Aa]ssets/**/*.asmref
!/TimPeeters_Eind/UML_TimPeeters.png


# even in subdirectories
!*/

# but not these subdirectories
/[Aa]ssets/Standard Assets/

