# Ignore Everything
*

# But not these files
!.gitignore
![Aa]ssets/**/*.cs
![Aa]ssets/**/*.xml
![Aa]ssets/**/*.uxml
![Aa]ssets/**/*.uss

# even in subdirectories
!*/

# but not these subdirectories
#!/Files/*
/Assets/VariablesTester.cs
